CompileFlags:
  Add:
    # --- Include Paths ---
    - "-IC:/Users/Josh Livingston/JUCE/modules"
    - "-IC:/Users/Josh Livingston/JUCE/modules/juce_audio_processors/format_types/VST3_SDK"
    - "-IC:/projects/JX11/JuceLibraryCode"

    # --- Preprocessor Definitions (mimic Debug config from Makefile) ---
    - "-DLINUX=1"
    - "-DDEBUG=1"
    - "-D_DEBUG=1"
    - "-DJUCE_PROJUCER_VERSION=0x80007"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_basics=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_devices=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_formats=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_plugin_client=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_processors=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_audio_utils=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_core=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_data_structures=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_events=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_graphics=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_gui_basics=1"
    - "-DJUCE_MODULE_AVAILABLE_juce_gui_extra=1"
    - "-DJUCE_GLOBAL_MODULE_SETTINGS_INCLUDED=1"
    - "-DJUCE_VST3_CAN_REPLACE_VST2=0"
    - "-DJUCE_STRICT_REFCOUNTEDPOINTER=1"
    - "-DJucePlugin_Build_VST=0"
    - "-DJucePlugin_Build_VST3=1"
    - "-DJucePlugin_Build_AU=1"
    - "-DJucePlugin_Build_AUv3=0"
    - "-DJucePlugin_Build_AAX=0"
    - "-DJucePlugin_Build_Standalone=1"
    - "-DJucePlugin_Build_Unity=0"
    - "-DJucePlugin_Build_LV2=0"
    - "-DJucePlugin_Enable_IAA=0"
    - "-DJucePlugin_Enable_ARA=0"
    - "-DJucePlugin_Name=\"JX11\""
    - "-DJucePlugin_Desc=\"JX11\""
    - "-DJucePlugin_Manufacturer=\"Pug Synthesis\""
    - "-DJucePlugin_ManufacturerWebsite=\"www.yourcompany.com\""
    - "-DJucePlugin_ManufacturerEmail=\"\""
    - "-DJucePlugin_ManufacturerCode=0x50554753"
    - "-DJucePlugin_PluginCode=0x4e796670"
    - "-DJucePlugin_IsSynth=1"
    - "-DJucePlugin_WantsMidiInput=1"
    - "-DJucePlugin_ProducesMidiOutput=0"
    - "-DJucePlugin_IsMidiEffect=0"
    - "-DJucePlugin_EditorRequiresKeyboardFocus=0"
    - "-DJucePlugin_Version=1.0.0"
    - "-DJucePlugin_VersionCode=0x10000"
    - "-DJucePlugin_VersionString=\"1.0.0\""
    - "-DJucePlugin_VSTUniqueID=JucePlugin_PluginCode"
    - "-DJucePlugin_VSTCategory=kPlugCategSynth"
    - "-DJucePlugin_Vst3Category=\"Instrument|Synth\""
    - "-DJucePlugin_AUMainType='aumu'"
    - "-DJucePlugin_AUSubType=JucePlugin_PluginCode"
    - "-DJucePlugin_AUExportPrefix=JX11AU"
    - "-DJucePlugin_AUExportPrefixQuoted=\"JX11AU\""
    - "-DJucePlugin_AUManufacturerCode=JucePlugin_ManufacturerCode"
    - "-DJucePlugin_CFBundleIdentifier=com.yourcompany.JX11"
    - "-DJucePlugin_AAXIdentifier=com.yourcompany.JX11"
    - "-DJucePlugin_AAXManufacturerCode=JucePlugin_ManufacturerCode"
    - "-DJucePlugin_AAXProductId=JucePlugin_PluginCode"
    - "-DJucePlugin_AAXCategory=2048"
    - "-DJucePlugin_AAXDisableBypass=0"
    - "-DJucePlugin_AAXDisableMultiMono=0"
    - "-DJucePlugin_IAAType=0x61757269"
    - "-DJucePlugin_IAASubType=JucePlugin_PluginCode"
    - "-DJucePlugin_IAAName=\"Pug Synthesis: JX11\""
    - "-DJucePlugin_VSTNumMidiInputs=16"
    - "-DJucePlugin_VSTNumMidiOutputs=16"
    - "-DJucePlugin_ARAContentTypes=0"
    - "-DJucePlugin_ARATransformationFlags=0"
    - "-DJucePlugin_ARAFactoryID=\"com.yourcompany.JX11.factory\""
    - "-DJucePlugin_ARADocumentArchiveID=\"com.yourcompany.JX11.aradocumentarchive.1.0.0\""
    - "-DJucePlugin_ARACompatibleArchiveIDs=\"\""
    - "-DJUCE_STANDALONE_APPLICATION=JucePlugin_Build_Standalone"
    - "-DJUCER_LINUX_MAKE_6D53C8B4=1"
    - "-DJUCE_APP_VERSION=1.0.0"
    - "-DJUCE_APP_VERSION_HEX=0x10000"
    - "-DJUCE_USE_EXTERNAL_TEMPORARY_SUBPROCESS=1"

    # --- C++ Standard ---
    - "-std=c++17"

    # --- Other Flags from PKG_CONFIG (can be tricky without pkg-config installed/mimicked) ---
    # These typically provide additional include paths and libs from system libraries.
    # If clangd still complains about missing system headers, you might need to
    # manually add common paths for pkg-config dependencies (e.g., -I/usr/include/gtk-3.0, -I/usr/include/alsa, etc.)
    # or install the corresponding dev packages if clangd is struggling to find them.
    - "-pthread" # Common pthread flag
